* {
  box-sizing: border-box;
}

.megaBlock {
  background: #cfc9ce;
  height: 510px;
  margin: 10px;
  /* padding: 10px; */
  border-radius: 25px 0 0 25px;
  border: 1px solid black;
  overflow: auto;
}

.blocks {
  height: 200px;
  width: 250px;
  background: rgba(147, 100, 24, 0.74);
  padding: 25px;
  border-radius: 10%;
  box-shadow: inset 0px 0px 10px rgb(62, 60, 60);
  /* border: 1px solid black;  - тут хватило свойства box shadow*/
  margin: 7px;
  display: inline-block;
}